{% extends 'base.html' %}

{% block title %}Buscar Mascota{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Mascotas</h2>

    {% if mascotas %}
        <ul class="list-group">
            {% for mascota in mascotas %}
                <li class="list-group-item">
                    <h5>{{ mascota.nombre }}</h5>
                    <p>Edad: {{ mascota.edad }}</p>
                    <p>Tipo: {{ mascota.raza }}</p>
                    {% if mascota.imagen %}
                        <img src="{{ mascota.imagen.url }}" alt="{{ mascota.nombre }}" width="100" height="100">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No hay mascotas registradas.</p>
    {% endif %}
</div>
{% endblock %}
